aria2/
mega/
starship/
winenv/
gh/
github-copilot/
cyberdrop-dl/
mega/
ohmyposh/PoshEnv.ps1
ohmyposh/ref.omp.json
ohmyposh/splinks.omp.json
pwsh/modules
scoop/config.json
spicetify/Backup
desktop.ini
spicetify/Extracted
pwsh/completions/gh-completions.ps1.bak
nvim/lazy-lock.json
